<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847145291498-qhsupn68c52b73sfo33r8h5gijf507tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847145291498-qhsupn68c52b73sfo33r8h5gijf507tj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847145291498-9386i4mh7r6831p1ihse95uf2nrnd1s8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdMnVK2DEvqXPaWmNC53S9GdmjWpd4BF0</string>
	<key>GCM_SENDER_ID</key>
	<string>847145291498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmb.platzitripsavanzado</string>
	<key>PROJECT_ID</key>
	<string>platzitrips-d3ba6</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitrips-d3ba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847145291498:ios:6e95841694b19745275193</string>
</dict>
</plist>